- @no_container = true
- page_title "编辑", @tag.name, "标签"
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block.no-bottom-space
    .oneline
      .title
        标签
        %strong= @tag.name
        的发布备注


  = form_for(@release, method: :put, url: project_tag_release_path(@project, @tag.name), html: { class: 'form-horizontal common-note-form release-form js-quick-submit' }) do |f|
    = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(@project), referenced_users: true } do
      = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: "撰写发布备注或拖放文件到此处..."
      = render 'shared/notes/hints'
    .error-alert
    .prepend-top-default
      = f.submit '保存修改', class: 'btn btn-save'
      = link_to "取消", project_tag_path(@project, @tag.name), class: "btn btn-default btn-cancel"
