= content_for :flash_message do
  = render 'shared/project_limit'

- if show_new_nav? && current_user.can_create_project?
  - content_for :breadcrumbs_extra do
    = link_to "新建项目", new_project_path, class: 'btn btn-new'

.top-area.scrolling-tabs-container.inner-page-scroll-tabs
  .fade-left= icon('angle-left')
  .fade-right= icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path, title: '主页', class: 'shortcuts-activity', data: {placement: 'right'} do
        您的项目
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path, title: '星标项目', data: {placement: 'right'} do
        星标项目
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
      = link_to explore_root_path, title: '浏览', data: {placement: 'right'} do
        浏览项目

  .nav-controls{ class: ("nav-controls-new-nav" if show_new_nav?) }
    = render 'shared/projects/search_form'
    = render 'shared/projects/dropdown'
    - if current_user.can_create_project?
      = link_to "新建项目", new_project_path, class: "btn btn-new #{("visible-xs" if show_new_nav?)}"
