= render 'layouts/nav/admin_settings'
.scrolling-tabs-container{ class: nav_control_class }
  .fade-left
    = icon('angle-left')
  .fade-right
    = icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(controller: %w(dashboard admin projects users groups builds runners cohorts), html_options: {class: 'home'}) do
      = link_to admin_root_path, title: '概览', class: 'shortcuts-tree' do
        %span
          概览
    = nav_link(controller: %w(conversational_development_index system_info background_jobs logs health_check requests_profiles)) do
      = link_to admin_conversational_development_index_path, title: '监控' do
        %span
          监控
    = nav_link(controller: :broadcast_messages) do
      = link_to admin_broadcast_messages_path, title: '消息' do
        %span
          消息
    = nav_link(controller: [:hooks, :hook_logs]) do
      = link_to admin_hooks_path, title: '钩子' do
        %span
          系统钩子

    = nav_link(controller: :applications) do
      = link_to admin_applications_path, title: '应用' do
        %span
          应用

    = nav_link(controller: :abuse_reports) do
      = link_to admin_abuse_reports_path, title: "违规举报" do
        %span
          违规举报
          %span.badge.count= number_with_delimiter(AbuseReport.count(:all))

    - if akismet_enabled?
      = nav_link(controller: :spam_logs) do
        = link_to admin_spam_logs_path, title: "垃圾日志" do
          %span
            垃圾日志
