- can_edit = can?(current_user, :admin_project, @project)
.scrolling-tabs-container{ class: nav_control_class }
  .fade-left
    = icon('angle-left')
  .fade-right
    = icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(path: ['projects#show', 'projects#activity', 'cycle_analytics#show'], html_options: { class: 'home' }) do
      = link_to project_path(@project), title: '项目', class: 'shortcuts-project' do
        %span
          项目

    - if project_nav_tab? :files
      = nav_link(controller: %w(tree blob blame edit_tree new_tree find_file commit commits compare projects/repositories tags branches releases graphs network)) do
        = link_to project_tree_path(@project), title: '版本库',  class: 'shortcuts-tree' do
          %span
            版本库

    - if project_nav_tab? :container_registry
      = nav_link(controller: %w[projects/registry/repositories]) do
        = link_to project_container_registry_index_path(@project), title: '容器注册表', class: 'shortcuts-container-registry' do
          %span
            注册表

    - if project_nav_tab? :issues
      = nav_link(controller: @project.issues_enabled? ? [:issues, :labels, :milestones, :boards] : :issues) do
        = link_to project_issues_path(@project), title: '问题', class: 'shortcuts-issues' do
          %span
            问题
            - if @project.issues_enabled?
              %span.badge.count.issue_counter= number_with_delimiter(issuables_count_for_state(:issues, :opened, finder: IssuesFinder.new(current_user, project_id: @project.id)))

    - if project_nav_tab? :merge_requests
      - controllers = [:merge_requests, 'projects/merge_requests/conflicts']
      - controllers.push(:merge_requests, :labels, :milestones) unless @project.issues_enabled?
      = nav_link(controller: controllers) do
        = link_to project_merge_requests_path(@project), title: '合并请求', class: 'shortcuts-merge_requests' do
          %span
            合并请求
            %span.badge.count.merge_counter.js-merge-counter= number_with_delimiter(issuables_count_for_state(:merge_requests, :opened, finder: MergeRequestsFinder.new(current_user, project_id: @project.id)))

    - if project_nav_tab? :pipelines
      = nav_link(controller: [:pipelines, :builds, :environments, :artifacts]) do
        = link_to project_pipelines_path(@project), title: '流水线', class: 'shortcuts-pipelines' do
          %span
            流水线

    - if project_nav_tab? :wiki
      = nav_link(controller: :wikis) do
        = link_to get_project_wiki_path(@project), title: '维基', class: 'shortcuts-wiki' do
          %span
            维基

    - if project_nav_tab? :snippets
      = nav_link(controller: :snippets) do
        = link_to project_snippets_path(@project), title: '代码片段', class: 'shortcuts-snippets' do
          %span
            代码片段

    - if project_nav_tab? :project_members
      = nav_link(controller: :project_members) do
        = link_to project_project_members_path(@project), title: '成员', class: 'shortcuts-members' do
          %span
            成员

    - if project_nav_tab? :settings
      = nav_link(path: %w[projects#edit members#show integrations#show services#edit repository#show ci_cd#show pages#show]) do
        = link_to edit_project_path(@project), title: '设置', class: 'shortcuts-tree' do
          %span
            设置

    -# Shortcut to Project > Activity
    %li.hidden
      = link_to activity_project_path(@project), title: '活动', class: 'shortcuts-project-activity' do
        %span
          活动

    -# Shortcut to Repository > Graph (formerly, Network)
    - if project_nav_tab? :network
      %li.hidden
        = link_to project_network_path(@project, current_ref), title: '网络', class: 'shortcuts-network' do
          图像

    -# Shortcut to Repository > Charts (formerly, top-nav item "Graphs")
    - unless @project.empty_repo?
      %li.hidden
        = link_to charts_project_graph_path(@project, current_ref), title: '图表', class: 'shortcuts-repository-charts' do
          图表

    -# Shortcut to Issues > New Issue
    %li.hidden
      = link_to new_project_issue_path(@project), class: 'shortcuts-new-issue' do
        创建新的问题

    -# Shortcut to Pipelines > Jobs
    - if project_nav_tab? :builds
      %li.hidden
        = link_to project_jobs_path(@project), title: '作业', class: 'shortcuts-builds' do
          作业

    -# Shortcut to commits page
    - if project_nav_tab? :commits
      %li.hidden
        = link_to project_commits_path(@project), title: '提交', class: 'shortcuts-commits' do
          提交

    -# Shortcut to issue boards
    %li.hidden
      = link_to '问题看板', project_boards_path(@project), title: 'Issue Boards', class: 'shortcuts-issue-boards'
