.row.prepend-top-default.append-bottom-default.triggers-container
  .col-lg-4
    = render "projects/triggers/content"
  .col-lg-8
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          管理项目的触发器
      .panel-body
        = render "projects/triggers/form", btn_text: "增加触发器"
        %hr
        - if @triggers.any?
          .table-responsive.triggers-list
            %table.table
              %thead
                %th
                  %strong 令牌
                %th
                  %strong 描述
                %th
                  %strong 拥有者
                %th
                  %strong 最后使用
                %th
              = render partial: 'projects/triggers/trigger', collection: @triggers, as: :trigger
        - else
          %p.settings-message.text-center.append-bottom-default
            没有触发器，请使用上面的按钮增加。

      .panel-footer

        %p
          在以下的示例中，你将看到如何使用触发器令牌调用外部API来重新构建一个特定的
          %code ref
          (分支或者标签) 。
        %p
          你只需要将
          %code TOKEN
          和
          %code REF_NAME
          分别替换为触发器的令牌及分支（标签）名称。

        %h5.prepend-top-default
          使用 cURL

        %p.light
          复制授权码到下面并设置你的分支或标签名。此例子是将触发重新构建。

        %pre
          :plain
            curl -X POST \
                 -F token=TOKEN \
                 -F ref=REF_NAME \
                 #{builds_trigger_url(@project.id)}
        %h5.prepend-top-default
          使用 .gitlab-ci.yml

        %p.light
          在项目关联的
          %code .gitlab-ci.yml
          文件中, 包含以下代码片段
          此例子将在依赖项目流水线结束试触发此项目重新构建。

        %pre
          :plain
            trigger_build:
              stage: deploy
              script:
                - "curl -X POST -F token=TOKEN -F ref=REF_NAME #{builds_trigger_url(@project.id)}"
        %h5.prepend-top-default
          使用 Web 钩子

        %p.light
          将下列 Web 钩子添加到另一个项目中，用于推送 PUSH 和 TAG 事件。
          该项目将在相应的事件触发时进行重新构建。

        %pre
          :plain
             #{builds_trigger_url(@project.id, ref: 'REF_NAME')}?token=TOKEN
        %h5.prepend-top-default
          传递作业变量

        %p.light
          增加
          %code variables[VARIABLE]=VALUE
          到 API 请求中。变量的值可以被用来区分触发流水线和常规流水线。

          通过 cURL:

        %pre
          :plain
            curl -X POST \
                 -F token=TOKEN \
                 -F "ref=REF_NAME" \
                 -F "variables[RUN_NIGHTLY_BUILD]=true" \
                 #{builds_trigger_url(@project.id)}
        %p.light
          通过 Web 钩子:

        %pre.append-bottom-0
          :plain
             #{builds_trigger_url(@project.id, ref: 'REF_NAME')}?token=TOKEN&variables[RUN_NIGHTLY_BUILD]=true
