= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        = nav_link(controller: :conversational_development_index) do
          = link_to admin_conversational_development_index_path, title: 'ConvDev Index' do
            %span
              ConvDev Index
        = nav_link(controller: :system_info) do
          = link_to admin_system_info_path, title: '系统信息' do
            %span
              系统信息
        = nav_link(controller: :background_jobs) do
          = link_to admin_background_jobs_path, title: '后台作业' do
            %span
              后台作业
        = nav_link(controller: :logs) do
          = link_to admin_logs_path, title: '日志' do
            %span
              日志
        = nav_link(controller: :health_check) do
          = link_to admin_health_check_path, title: '健康检查' do
            %span
              健康检查
        = nav_link(controller: :requests_profiles) do
          = link_to admin_requests_profiles_path, title: '请求配置' do
            %span
              请求配置
