= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: container_class }
        = nav_link(path: 'groups#edit') do
          = link_to edit_group_path(@group), title: '常规' do
            %span
              常规

        = nav_link(path: 'groups#projects') do
          = link_to projects_group_path(@group), title: '项目' do
            %span
              项目

        = nav_link(controller: :ci_cd) do
          = link_to group_settings_ci_cd_path(@group), title: '流水线' do
            %span
              流水线
