#modal-new-wiki.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{ href: "#", "data-dismiss" => "modal" } ×
        %h3.page-title 新建Wiki页面
      .modal-body
        %form.new-wiki-page
          .form-group
            = label_tag :new_wiki_path do
              %span 页面别名
            = text_field_tag :new_wiki_path, nil, placeholder: 'how-to-setup', class: 'form-control', required: true, :'data-wikis-path' => project_wikis_path(@project), autofocus: true
            %span.new-wiki-page-slug-tip
              = icon('lightbulb-o')
              提示：您可以指定新文件的完整路径。
              我们将自动创建缺少的中间目录。
          .form-actions
            = button_tag '创建页面', class: 'build-new-wiki btn btn-create'
