- event = last_push_event
- if event && show_last_push_widget?(event)
  .row-content-block.top-block.hidden-xs.white
    .event-last-push
      .event-last-push-text
        %span 您推送了
        %strong
          = link_to event.ref_name, project_commits_path(event.project, event.ref_name), class: 'ref-name'

        - if event.project != @project
          %span 到
          %strong= link_to_project event.project

        #{time_ago_with_tooltip(event.created_at)}

      .pull-right
        = link_to new_mr_path_from_push_event(event), title: "新建合并请求", class: "btn btn-info btn-sm" do
          #{ _('Create merge request') }
