- page_title "代码片段"

- if show_new_nav? && can?(current_user, :create_project_snippet, @project)
  - content_for :breadcrumbs_extra do
    = link_to "新建代码片段", new_namespace_project_snippet_path(@project.namespace, @project), class: "btn btn-new", title: "新建代码片段"

- if current_user
  .top-area
    - include_private = @project.team.member?(current_user) || current_user.admin?
    = render partial: 'snippets/snippets_scope_menu', locals: { subject: @project, include_private: include_private }

    .nav-controls{ class: ("visible-xs" if show_new_nav?) }
      - if can?(current_user, :create_project_snippet, @project)
        = link_to "新建代码片段", new_project_snippet_path(@project), class: "btn btn-new", title: "新建代码片段"

= render 'snippets/snippets'
