- @content_class = "limit-container-width" unless fluid_layout
- page_title '集成'
- if show_new_nav?
  - add_to_breadcrumbs("Settings", edit_project_path(@project))
= render "projects/settings/head"
= render 'projects/hooks/index'
= render 'projects/services/index'
