.row.prepend-top-default.append-bottom-default
  .col-lg-4
    = render "ci/variables/content"
  .col-lg-8
    %h5.prepend-top-0
      增加变量
    = render "ci/variables/form", btn_text: "增加新的变量"
    %hr
    %h5.prepend-top-0
      您的变量 (#{@variables.size})
    - if @variables.empty?
      %p.settings-message.text-center.append-bottom-0
        没有变量，请使用上面的表单增加。
    - else
      = render "ci/variables/table"
      %button.btn.btn-info.js-btn-toggle-reveal-values{ "data-status" => 'hidden' } 显示值
