- if @merge_requests.any?
  %h2.merge-requests-title
    = pluralize(@merge_requests.count, '个相关合并请求', '个相关合并请求')
  %ul.unstyled-list.related-merge-requests
    - has_any_ci = @merge_requests.any?(&:head_pipeline)
    - @merge_requests.each do |merge_request|
      %li
        %span.merge-request-ci-status
          - if merge_request.head_pipeline
            = render_pipeline_status(merge_request.head_pipeline)
          - elsif has_any_ci
            = icon('blank fw')
        %span.merge-request-id
          = merge_request.to_reference
        %span.merge-request-info
          %strong
            = link_to merge_request.title, merge_request_path(merge_request), class: "row_title"
          - unless @issue.project.id == merge_request.target_project.id
            在
            - project = merge_request.target_project
            = link_to project.name_with_namespace, project_path(project)

        - if merge_request.merged?
          %span.merge-request-status.prepend-left-10.merged
            已合并
        - elsif merge_request.closed?
          %span.merge-request-status.prepend-left-10.closed
            已关闭
        - else
          %span.merge-request-status.prepend-left-10.open
            未关闭

    - if @closed_by_merge_requests.present?
      %li
        = render partial: 'projects/issues/closed_by_box', locals: {merge_request_count: @merge_requests.count}
