- page_title milestone.title, "里程碑"

- group = local_assigns[:group]

.detail-page-header
  %a.btn.btn-default.btn-grouped.pull-right.visible-xs-block.js-sidebar-toggle{ href: "#" }
    = icon('angle-double-left')

  .status-box{ class: "status-box-#{milestone.closed? ? 'closed' : 'open'}" }
    - if milestone.closed?
      已关闭
    - elsif milestone.expired?
      已过期
    - else
      未关闭
  %span.identifier
    里程碑 #{milestone.title}
  - if milestone.due_date || milestone.start_date
    %span.creator
      &middot;
      = milestone_date_range(milestone)
  - if group
    .pull-right
      - if can?(current_user, :admin_milestones, group)
        - if milestone.is_group_milestone?
          = link_to edit_group_milestone_path(group, milestone), class: "btn btn btn-grouped" do
            Edit
        - if milestone.active?
          = link_to '关闭里程碑', group_milestone_route(milestone, {state_event: :close }), method: :put, class: "btn btn-grouped btn-close"
        - else
          = link_to '重新打开里程碑', group_milestone_route(milestone, {state_event: :activate }), method: :put, class: "btn btn-grouped btn-reopen"

.detail-page-description.milestone-detail
  %h2.title
    = markdown_field(milestone, :title)
  - if @milestone.is_group_milestone? && @milestone.description.present?
    %div
      .description
        .wiki
          = markdown_field(@milestone, :description)

- if milestone.complete?(current_user) && milestone.active?
  .alert.alert-success.prepend-top-default
    - close_msg = group ? '可以关闭此里程碑。' : '导航到此项目去关闭此里程碑。'
    %span 该里程碑的全部问题都已关闭。#{close_msg}

- if @milestone.is_legacy_group_milestone? || @milestone.is_dashboard_milestone?
  .table-holder
    %table.table
      %thead
        %tr
          %th 项目
          %th 未关闭问题
          %th 状态
          %th 到期日
      - milestone.milestones.each do |ms|
        %tr
          %td
            - project_name = group ? ms.project.name : ms.project.name_with_namespace
            = link_to project_name, project_milestone_path(ms.project, ms)
          %td
            = ms.issues_visible_to_user(current_user).opened.count
          %td
            - if ms.closed?
              已关闭
            - else
              未关闭
          %td
            = ms.expires_at
- elsif @milestone.is_group_milestone?
  %br
  View
  = link_to 'Issues', issues_group_path(@group, milestone_title: milestone.title)
  or
  = link_to 'Merge Requests', merge_requests_group_path(@group, milestone_title: milestone.title)
  in this milestone
