- @no_container = true
- page_title "流水线"
= render "projects/pipelines/head"

.js-pipeline-container{ class: container_class, data: { controller_action: "#{controller.action_name}" } }
  - if @commit
    = render "projects/pipelines/info"

  = render "projects/pipelines/with_tabs", pipeline: @pipeline

.js-pipeline-details-vue{ data: { endpoint: project_pipeline_path(@project, @pipeline, format: :json) } }

- content_for :page_specific_javascripts do
  = webpack_bundle_tag('common_vue')
  = webpack_bundle_tag('pipelines_details')
